<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="hello-vue" class="demo">
        <input v-model="inputValue"/>

        <!--  注意把东西写在绑定vue的id下 -->
        <button v-on:click="addBtn">Add</button>
        <ul>
            <li v-for="(item,index) of list">{{index+1}}&nbsp;{{item}}</li>
        </ul>

    </div>


    <script>
        const VueApp = {
            data() {
                return {
                    inputValue:'',//data里都是冒号
                    list: [],
                }
            },
            methods: {
                addBtn() {
                    this.list.push(this.inputValue)
                    this.inputValue=''
                }
            },
        }

        Vue.createApp(VueApp).mount('#hello-vue')
    </script>
</body>

</html>